ion-card{
    display: block;
    height: 100%;
}

div{

    display: block;
    height: 100%;
}

ion-slides {
    height: 100%;
  }

  img {
      border-radius: 50%;
      height: 150px;
      margin-top: 10%;
  }

  ion-card {
      width: 100%;
      padding-top: 10%;
  }